

{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<!-- templates/APPPerfiles/resultadosbusqueda.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <h1>Resultados de Búsqueda</h1>
    
    <form action="{% url 'busquedausuario' %}" method="get">
        <label for="nombre">Nombre de usuario:</label>
        <input type="text" id="nombre" name="nombre" value="{{ nombre }}" placeholder="Nombre de usuario">
        <button type="submit">Buscar</button>
    </form>

    {% if usuarios %}
    <h2>Usuarios Encontrados:</h2>
    <ul>
        {% for usuario in usuarios %}
            <li>
                Nombre: {{ usuario.nombre }}<br>
                Apellido: {{ usuario.apellido }}<br>
                Correo Electrónico: {{ usuario.email }}<br>
                <a href="{% url 'editarusuariodesderesultados' usuario.id %}">Editar</a> | 
                <a href="{% url 'eliminarusuariodesderesultados' usuario.id %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No se encontraron usuarios con ese nombre.</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No se encontraron usuarios con ese nombre.</p>
    {% endif %}
    
</body>
</html>

{% endblock %}
